@charset "utf-8";
/* CSS Document */


#paginainicio
{background:darkorange}
#titulo
{background:coral; color:#CF3;}

#paginados
{background:limegreen}

#introduccion
{color:white; size:12; background:salmon;  margin:1%}

#bayas
{background:greenyellow}

#citricos
{background:lightgreen}

#exoticas
{background:gold;}


#frutoseco
{background:navajowhite}

#frutadulce
{background:lightcyan}




#Cucurbitáceas
{background:lemonchiffon;}


#anaranjado
{background:orange}
#dorado
{background:gold}
#palegreen
{background:palegreen}
#verdeamarillo
{background:greenyellow}


#grisesitoclaro
{background:lavender}


#salmon
{background:lightsalmon}


#azulmedio
{background:darkgray}


#kahki
{background:khaki}


#aqua
{background:aqua}

#darkkhaki
{background:darkkhaki}

#mocasin
{background:moccasin}

#palegoldenrod
{background:palegoldenrod}

#skyblue
{background:skyblue}

#rojo
{background:coral}